<div class = "widget-body">
  <div class = "widget-forms clearfix">
  <%= custom_form_for(@product, {:class => "form-horizontal"}) do |f| %>
    <%= render 'shared/error_messages', :object => @product %>
    <%= f.text_field :name, :label => t("model.attributes.Adminpanel::Product.name"), :placeholder => t("model.attributes.Adminpanel::Product.name") %>
    <%= f.text_field :brief, :label => t("model.attributes.Adminpanel::Product.brief"), :placeholder => t("model.attributes.Adminpanel::Product.brief") %>

    <div class="control-group">
      <label class="control-label"><%= t("Description") %></label>
      <div class="controls">
        <%= f.hidden_field :description, :id => "description-field" %>
        <% if @product.description.nil? %>
          <%= content_tag(:div, @product.description, :class => "editable", "data-placeholder" => t("Write description here")) %>
        <% else %>
          <%= content_tag(:div, @product.description.html_safe, :class => "editable", "data-placeholder" => t("Write description here")) %>
        <% end %>
      </div>
    </div>
    <%= f.select :category_id, @categories, :label => t("model.Category") %>

    <%= f.fields_for :images do |builder| %>
        <%= render 'image_fields', :f => builder, :model_name => @product.simple_name %>
    <% end -%>

    <%= link_to_add_fields t("Add Image"), f, :images, @product.simple_name %>
  </div>
</div>
  <div class = "widget-footer">
    <%= f.submit t("action.save"), :disable_with => 'Submiting...', :id => "save-button" %>
  </div>
  <% end -%>