<div class="zone-container">
  <div class="zone-label">
    <%= properties['label'] %>
  </div>

  <div class="controls" data-turbolinks="false">
    <div class="zone">
      <div id='<%= "#{attribute.singularize}_dropzone" %>' data-max-files="<%= properties['max_files'] %>">
        <i class="fa fa-cloud-upload"></i>
        <div><%= I18n.t('dropzone.drag_here') %></div>
        <span><%= I18n.t('dropzone.or') %></span>
        <div class="selectFile">
          <a href="#" class="btn"><%= I18n.t('dropzone.choose_files') %></a>
        </div>
        <p><%= I18n.t('dropzone.size_limit', file_size: '10 MB') %></p>
        <% f.object.send(attribute).each do |attrib| %>
          <%= hidden_field_tag "#{f.object.class.to_controller_name.singularize}[#{attribute.singularize}_ids][]",
                attrib.id,
                data: {
                  file_url: attrib.file_url(:thumb),
                  file_size: attrib.file_size,
                  file_name: attrib.file_identifier
                } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
