<div class="control-group">
  <div class="control-label">
    <%= properties['label'] %>
  </div>
  <%= hidden_field_tag("#{class_name_downcase(f.object)}[#{relationship_ids(properties["model"])}][]", nil) %>
  <div class="controls" id="<%= properties['model'].demodulize.downcase %>-relation">
    <% @collections["#{properties['model']}"].each do |resource| %>
      <%= f.checkbox(resource, class_name_downcase(f.object), relationship_ids(properties['model'])) %>
    <% end %>
  </div>
</div>
<%#= debug params %>
<% if !is_modal %>
  <!-- if not making resource from other form so we don't have to manage
  infinite nested forms and relations -->
  <% if(properties['remote_resource'].nil? || properties['remote_resource']) %>
    <%= render 'adminpanel/shared/create_remote_resource_button', remote_resource_name: properties['model'] %>
  <% end %>
<% end %>
