<% @galleries.each do |gallery| %>
	<tr>
		<td><%= link_to image_tag(gallery.file_url(:thumb)), gallery_path(gallery) %></td>
		<td>
			<%= link_to content_tag(:i, nil, :class => "fa fa-chevron-up"), move_to_better_gallery_path(gallery), :method => :put, :remote => true %>
			<%= link_to content_tag(:i, nil, :class => "fa fa-chevron-down"), move_to_worst_gallery_path(gallery), :method => :put, :remote => true %>
		</td>
		<td>
			<%= render 'shared/show_icon_button', resource: gallery %>
			<%= render 'shared/edit_icon_button', resource: gallery %>

			<%= render 'shared/delete_icon_button', resource: gallery %>
		</td>
	</tr>
<% end %>
