<div id="fb-<%= resource.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" id="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-title"><%= I18n.t('action.publish') %> en Facebook</h3>
  </div>
  <div id="modal-container">
    <%=
      adminpanel_form_for(
        resource,
        url: url_for({
          controller: params[:controller],
          action: :fb_publish,
          id: resource
        }),
        method: :post
      ) do |f|
    %>
      <div class="row-fluid">
        <div class="modal-body">
          <%= f.text_area :fb_message, { 'label' => I18n.t('fb.message') } %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-button" class="btn" data-dismiss="modal" aria-hidden="true">
          <%= I18n.t('action.close') %>
        </button>
        <%=
        f.submit(
          I18n.t('action.publish') + " " + @model.display_name,
          data: {
            disable_with: I18n.t('action.submitting')
          },
          id: "new-#{@model.name.demodulize}-button"
        )
        %>
      </div>
    <% end %>

  </div>
</div>
