<% collection.each do |member| %>
  <% cache ["#{member.class}-member", member] do %>
    <tr>
      <% @model.display_attributes('index').each do |fields| %>
        <% fields.each do |attribute, properties| %>
        <td>
          <%= field_value(properties, attribute, member) %>
        </td>
        <% end %>
      <% end %>
      <% if @model.is_sortable? %>
        <!-- if has included the orderable concern -->
        <td>
          <%= render 'adminpanel/icons/move_to_better', member: member %>

          <%= render 'adminpanel/icons/move_to_worst',  member: member %>
        </td>
      <% end %>
      <td>
        <%= render 'adminpanel/icons/show',     resource: member %>

        <%= render 'adminpanel/icons/edit',     resource: member %>

        <%= render 'adminpanel/icons/delete',   resource: member %>

        <%= render 'adminpanel/icons/facebook', resource: member %>

        <%= render 'adminpanel/icons/twitter',  resource: member %>
      </td>
    </tr>
  <% end %>
<% end %>
