<%= adminpanel_form_for(
  resource,
  url: {
    action: :create,
    model: params[:model],
    model_name: params[:model_name],
    belongs_request: params[:belongs_request]
  },
  remote: true,
  html: {
    class: "form-horizontal",
    id: "new_resource"
  }
) do |f| %>
  <div class="row-fluid">
    <div class="modal-body">
      <%= render 'adminpanel/shared/error_messages', object: resource %>
      <%= render 'adminpanel/shared/form_fields', f: f %>
    </div>
  </div>
  <div class="modal-footer">
    <button id="modal-button" class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t('action.close') %></button>
    <%= f.submit(
      t('action.add', resource: @model.display_name),
      id: 'new-resource-button'
    ) %>
  </div>
<% end %>
