<% provide(:page_title, t("action.create") + " #{@model.display_name.capitalize}") -%>
<%
  breadcrumb_add(
  @model.display_name.capitalize.pluralize(I18n.default_locale),
    {
      :controller => params[:controller],
      :action => "index"
    }
  )
%>
<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header">
      <%= content_tag(:i, nil, :class => "fa fa-#{@model.icon}") %>
      <h5><%= t("action.create") + " " + @model.display_name %></h5>
    </div>
    <%=
    adminpanel_form_for(
      resource,
      :html => {
        :class => 'form-horizontal',
        :id => 'new_resource'
      }
    ) do |f| -%>
      <div class = "widget-body">
        <div class = "widget-forms clearfix">
            <%= render 'shared/error_messages', :object => resource %>
            <%= render 'shared/form_fields', :f => f %>
        </div>
      </div>
      <div class = "widget-footer">
        <%=
        f.submit t('action.add') + " " + @model.display_name,
          data: {:disable_with => t("action.submitting")},
          :id =>"new-#{@model.name.demodulize}-button"
        %>
      </div>
    <% end -%>
  </div>
</div>
<%= render 'shared/modal' %>
