<% provide(:page_title, "Crear #{resource.name.capitalize}") -%>
<% breadcrumb_add(
  resource.name.capitalize.pluralize, 
    {
      :controller => params[:controller],
      :action => "index"
    }
  ) %>

<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header">
      <i class = "icon-truck"></i>
      <h5><%= resource.name %></h5>
    </div>
    <div class = "widget-body">
      <div class = "widget-forms clearfix">
        <%= custom_form_for(resource, :html => {:class => "form-horizontal"}) do |f| -%>
          <%= render 'shared/error_messages', :object => resource %>
          <% resource.form_attributes.each do |attribute, form_field| %>
            <%= f.send(form_field, attribute) %>
            <%# f.text_field :author, :label => "author", :placeholder => "Nombre de la resource" %>
          <% end %>
      </div>
    </div>
    <div class = "widget-footer">
      <%= f.submit "Agregar", :disable_with => 'Enviando...', :id =>"new-resource-button" %>
    </div>
      <% end -%>
  </div>
</div>