<% provide(:page_title, t("action.view") + " #{@model.display_name.capitalize}") -%>
<% breadcrumb_add(
  @model.display_name.capitalize.pluralize, 
    {
      :controller => params[:controller],
      :action => "index"
    }
  ) %>

<div class="row-fluid">
    <div class="widget span6">
        <div class="widget-header">
            <i class="icon-truck"></i>
            <h5><%= @model.display_name.humanize %>
                <%= link_to content_tag(:i, nil, :class => 'icon-pencil'), [:edit, resource], :title => t("action.edit") + " #{@model.display_name}" %>
            </h5>
        </div>
        <div class="widget-body">
            <div class="widget-tickets widget-tickets-large clearfix"><ul>
                <% @model.form_attributes.each do |attribute, values| %>
                <li class="priority-high">
                    <div class="span3">
                        <h6><%= values[:name] %></h6>
                    </div>
                    <div class="span8">
                        <%= resource.send(attribute) -%>
                    </div>
                </li>
                <% end %>
            </ul>
            </div>
        </div>
    </div>
    <div class="widget widget-padding span6">
        <div class="widget-header">
            <i class="icon-truck"></i>
            <h5>Galería: <%= @model.display_name.humanize %>
                    <%= link_to content_tag(:i, nil, :class => 'icon-pencil'), [:edit, resource], :title => t("action.edit") + " #{@model.display_name}" %>
            </h5>
        </div>
        <div class="widget-body row-fluid">
            <div id="gallery-container" class="js-masonry"
                data-masonry-options='{ "columnWidth": 3, "itemSelector": ".gallery-item" }'>
                  <%# @admin_product.images.each do |image|%>
                    <div class="gallery-item">
                          <%#= link_to (image_tag image.file_url(:thumb)), image.file.to_s, :rel  => "group", :name => @admin_product.name %>
                    </div>
                <%# end %>
            </div>
        </div>
    </div>
</div>