<div class="sidebar-nav nav-collapse collapse" id="sidebar-navigation">
  <% cache ["name", current_user] do %>
    <div class="user_side clearfix">
      <h5>
        <%= current_user.name.humanize %>
      </h5>
      <%= link_to(
        current_user.role.name,
        "#"
      ) %>
    </div>
  <% end %>
  <div class="accordion">
    <% Adminpanel.displayable_resources.each do |resource| %>
      <% resource_class = symbol_class(resource) %>
      <% if can?(:read, resource_class) || can?( :publish, resource_class) %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <%= link_to(
              [route_symbol(resource.to_s)],
              data: { no_transition_cache: true },
              class: "accordion-toggle accordion-navigation #{is_current_section?(resource_class.display_name)} spinner-link"
            ) do %>
              <%= content_tag :i, nil, class: "fa fa-#{resource_class.icon}" %>
              <%= resource_class.display_name.pluralize(I18n.default_locale) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
