<div class="row-fluid">
  <%=
    link_to(
      content_tag(:div,
        content_tag(
          :i,
          nil,
          :class => 'fa fa-plus-circle fa-2x') +
          content_tag(
            :span,
            I18n.t("action.create", resource: @model.display_name) + " para #{model}",
            nil
          ),
          :class => "btn btn-box span2"),
      {
        :controller => params[:controller],
        :action => "new",
        :"model" => model,
        :currentcontroller => params[:controller]
      },
      :"data-target" => '#new-category',
      :"data-toggle" => 'modal',
      :remote => true
    )
  %>
</div>

<br/>

<table id="<%= model %>-table" class="table table-striped table-bordered">
  <tr>
   <th><%= t("category.name") %></th>
   <th><%= t("actions") %></th>
  </tr>
  <% categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category) %></td>
      <td>
        <%= render 'adminpanel/shared/show_icon_button', resource: category %>

        <%= render 'adminpanel/shared/edit_icon_button', resource: category %>

        <%= render 'adminpanel/shared/delete_icon_button', resource: category %>
      </td>
    </tr>
  <% end %>

</table>
