
<%= custom_form_for(resource, :remote => true, :html => {:class => "form-horizontal", :id => "new_resource"}) do |f| -%>
  <div class="row-fluid">
    <div class="modal-body">
        <%= render 'shared/error_messages', :object => resource %>
        <%= render 'shared/form_fields', :f => f %>
        <%= f.hidden_field :model, :value => model %>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t('action.close') %></button>
    <%= f.submit t("action.add") + " " + @model.display_name, :disable_with => t("action.submitting"), :id =>"new-resource-button" %>
  </div>
<% end -%>
