<%= adminpanel_form_for(
  resource,
  url: {
    action: :create,
    model: params[:model],
    model_name: params[:model_name],
    currentcontroller: params[:currentcontroller],
    belongs_request: params[:belongs_request]
  },
  remote: true,
  html: {
    class: "form-horizontal",
    id: "new-category-form"
  }
) do |f| %>
  <div class="row-fluid">
    <div class="modal-body">
      <%= render 'shared/error_messages', object: resource %>
      <%= render 'shared/form_fields', f: f, remote_request: true %>
      <%= f.hidden_field :model, value: params[:model] %>
    </div>
  </div>
  <div class="modal-footer">
    <button id="modal-button" class="btn" data-dismiss="modal" aria-hidden="true"><%= I18n.t('action.close') %></button>
    <%= f.submit(
      t("action.add", resource: @model.display_name),
      data: {
        disable_with: t("action.submitting")
      },
      id: "new-#{@model.name.demodulize}-button"
    ) %>
  </div>
<% end %>
