<%= provide(:page_title, "Categorias") %>
<% #if can? :create, Client %>
  <div class="row-fluid">
    <%= 
      link_to( 
        content_tag(:div,
          content_tag(:i, nil, :class => 'icon-plus-sign icon-2x') + content_tag(:span, t("category.new"), nil), 
          :class => "btn btn-box span2"), 
        new_category_path,
        :id => "new-category-button"
      )
    %>
  </div>
<% #end %>

<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
          <i class="icon-truck"></i>
          <h5>Categorías</h5>
        </div>
    <div class="widget-body">
      <div class="dataTables_wrapper form-inline">
        <table id="information-table" class="table table-striped table-bordered dataTable">
          <thead>
            <tr>
              <th>Nombre</th>
                <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
                <td>
                  <%= link_to content_tag(:i, nil, :class => 'icon-pencil'), edit_category_path(category), :title => t("action.edit") %>
                  <%= link_to content_tag(:i, nil, :class => 'icon-remove'), category_path(category), 
                    :title => t("action.delete"),
                    :id => "category-delete",
                    :method => :delete,
                    :data => { :confirm => "Seguro?" }
                  %>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row-fluid">
          <div class="span6"></div>
          <div class="span6"></div>
        </div>
      </div>
    </div>
  </div>
</div>