<%= provide(:page_title, I18n.t('model.Categories')) %>

<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <ul class="nav nav-tabs">
        <% current_page = "no-page" %>
        <% @categories.each_with_index do |category, index| %>
          <% if current_page != category.model %>
            <li class = "<%= active_tab(index) %>">
              <%=
              link_to(
                (category.model.capitalize.pluralize(I18n.default_locale)),
                "#tab#{index}",
                "data-toggle" => "tab"
              )
              %>
            </li>
            <% current_page = category.model %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="widget-body">
      <div class="tab-content">
        <% current_page = 'no-page' %>
        <% @categories.each_with_index do |category, index| %>

          <% if current_page != category.model %>
            <% if index == 0 %>
              <div class="tab-pane active" id="tab<%= index %>">
            <% else %>
              <div class="tab-pane" id="tab<%= index %>">
            <% end %>
              <% current_cateogory_records = @categories.select {|c| c.model == category.model } %>
              <%=
                render(
                'categories_table',
                categories: current_cateogory_records,
                model: category.model
              ) %>
            </div>
            <% current_page = category.model %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<!-- modal -->
<%= render(
  'adminpanel/shared/modal',
  id: 'new-category',
  title: (
    I18n.t(
      'action.create',
      resource: I18n.t('model.Category')
    )
  )
) %>
