<li class="priority-high">
  <%= image_tag tweet.user.profile_image_url, class: 'avatar thumbnail' %>
  <h5>
    @<%= tweet.user.username %> <%= I18n.t('analytics.said') %>
  </h5>
  <i class="fa fa-quote-left"></i>
  <%= tweet.text %>
  <i class="fa fa-quote-right"></i>

  <div class="date">
    El <%= I18n.l(tweet.created_at) %>, a las
    <%= I18n.l(tweet.created_at, format: :time) %>
  </div>
  <div class="settings">
    <%= link_to '#', data: { target: "#reply-#{tweet.id}", toggle: 'modal' } do %>
      <i class="fa fa-reply"></i>
    <% end %>

    <%= link_to favorite_analytics_path(tweet.id), method: :post, remote: true do %>
      <i class="fa fa-star"></i> <%= tweet.favorite_count %>
    <% end %>

    <%= link_to retweet_analytics_path(tweet.id), method: :post, remote: true do %>
      <i class="fa fa-retweet"></i> <%= tweet.retweet_count %>
    <% end %>

    <%= link_to tweet_link(tweet), target: '_blank' do %>
      <i class="fa fa-external-link"></i>
    <% end %>
  </div>
</li>
<%= render 'twitter_reply_modal', tweet: tweet %>
