<div id="reply-<%= tweet.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" id="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal-title"><%= I18n.t('action.reply') %> en Twitter</h3>
  </div>
  <div id="modal-container">
    <%= form_tag reply_to_analytics_path(tweet), method: :post, class: 'form-horizontal' do |f| %>
      <div class="row-fluid">
        <div class="modal-body clearfix">
          <div class="span12">
            <i class="fa fa-quote-left"></i>
              <%= tweet.text %>
            <i class="fa fa-quote-right"></i>
          </div>
          <div class="control-group">
            <%= label_tag 'tweet', 'Respuesta:', class: 'control-label' %>

            <div class="controls">
              <%= text_area_tag 'tweet', "@#{tweet.user.username} ", id: "twitter-message-#{tweet.id}", label: I18n.t('twitter.message'), :rows => 4, maxlength: 140 %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-button" class="btn" data-dismiss="modal" aria-hidden="true">
          <%= I18n.t('action.close') %>
        </button>
        <%= submit_tag(
          I18n.t('action.reply'),
          class: 'btn btn-primary',
          data: {
            :disable_with => I18n.t('action.submitting')
          },
          :id =>"reply-tweet-#{tweet.id}"
        )
        %>
      </div>
    <% end %>

  </div>
</div>
