<% provide(:page_title, I18n.t('analytics.facebook')) -%>
<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <%= render 'header' %>
    </div>
    <div class="widget-body">
      <%= form_tag fb_analytics_path, method: :get %>
      <%=
        select_tag(
          'insight',
          options_for_select(
            [
              [I18n.t('analytics.now'), 'day'],
              [I18n.t('analytics.week'), 'week'],
              [I18n.t('analytics.month'), 'days_28']
            ],
            params[:insight]
          )
        )
      %>
      <%= button_tag(I18n.t('analytics.search'), type: 'submit', class: 'btn btn-info') %>
      <h4>Haz click en los íconos para ver su descripción</h4>
      <% date = Date.parse @new_likes.first['values'].last['end_time'] %>
      <h3><%= I18n.t('analytics.for') %> <%= date - days_to_substract %> - <%= date %></h3>
      <div class="overview_boxes">
        <div class="box_row clearfix">
          <%=
            render(
              'fb_statistic_widget',
              inside: @new_likes,
              outside: @total_likes,
              placeholder: '+',
              icon: 'thumbs-up',
              color: '#98AEEA',
              label: 'Likes'
            )
          %>

          <%=
            render(
              'fb_statistic_widget',
              inside: @impressions_unique,
              outside: @impressions,
              placeholder: I18n.t('analytics.unique'),
              icon: 'ticket',
              color: '#6CD0F7',
              label: I18n.t('analytics.impressions')
            )
          %>

          <%=
            render(
              'fb_statistic_widget',
              inside: @views_unique,
              outside: @views,
              placeholder: 'únicas',
              icon: 'eye',
              color: '#6CD0F7',
              label: 'Vistas'
            )
          %>

          <%=
            render(
              'fb_statistic_widget',
              inside: @stories,
              outside: @stories,
              placeholder: '',
              icon: 'bullhorn',
              color: '#6CD0F7',
              label: 'Hablando de ti'
            )
          %>

          <%=
            render(
              'fb_statistic_widget',
              inside: @consumptions_unique,
              outside: @consumptions,
              placeholder: 'únicas',
              icon: 'crosshairs',
              color: '#6CD0F7',
              label: 'Consumptions'
            )
          %>

          <%=
            render(
              'fb_statistic_widget',
              inside: @hidden_unique,
              outside: @hidden,
              placeholder: '-',
              icon: 'thumbs-down',
              color: '#E28270',
              label: 'Dislike o Hide'
            )
          %>

        </div>
      </div>

    </div>
  </div>
</div>
<%= yield :modals %>
