<% provide(:page_title, I18n.t('analytics.instagram')) -%>
<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <%= render 'header' %>
      <% if !exist_instagram_account? %>
        <div class="widget-buttons">
          <% if !Adminpanel.instagram_client_id.nil? && !Adminapnel.instagram_client_secret.nil? %>
            <%= button_to instagram_login_sessions_path, method: :get, class: 'btn btn-success' do %>
              Iniciar sesión <i class="fa fa-instagram"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="widget-body">

      <div class="row-fluid">

        <% if exist_instagram_account? %>
          <div class="widget span8">
            <div class="widget-header">
              <i class="fa fa-bullhorn"></i>
              <h5>Publicaciones recientes de: @<%= @user.username %>:</h5>
            </div>
            <div class="widget-body clearfix">
              <div class="widget-tickets widget-tickets-large clearfix">
                <ul>
                  <% @instagram_client.user_recent_media.each do |media_item| %>
                    <%= render 'instagram_media', media_item: media_item %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>

          <div class="widget span4">
            <div class="widget-header">
              <i class="fa fa-bullhorn"></i>
              <h5>Información de @<%= @user.username %></h5>
            </div>
            <div class="widget-body clearfix">
              <div class="widget-tickets widget-tickets-large clearfix">
                <ul>
                  <li>
                    <h5>Número de personas que siguen a @<%= @user.username %></h5>
                    <i class="fa fa-sign-in"></i> <%= @user.counts.follows %>
                  </li>
                  <li>
                    <h5>Número de personas que @<%= @user.username %> sigue</h5>
                    <i class="fa fa-sign-out"></i> <%= @user.counts.followed_by %>
                  </li>
                  <li>
                    <h5>Número publicaciones de @<%= @user.username %></h5>
                    <i class="fa fa-picture-o"></i> <%= @user.counts.media %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %><!-- close exist instagram account -->

      </div>

    </div>
  </div>
</div>
