<div class="product-image">
	<% unless f.object.new_record? %>
		<div class="control-group">
			<div class="controls">
				<%= image_tag f.object.file_url(:thumb) %>
			</div>
		</div>
	<% end %>
	<div class="control-group">
			<%= f.label "Imagen", :class => "control-label"  %>
		<div class="controls">
			<%= f.file_field :file %>
			<%= f.hidden_field :model, :value => model_name %>
			<%= f.hidden_field :_destroy %>
			<%= 
			content_tag(
				:button, 
				"Eliminar", 
				:class => "btn btn-danger remove_fields"
			) 
			%>
		</div>
	</div>
</div>