<table class="table table-striped table-bordered">
  <tr>
   <th><%= t("section.name") %></th>
   <th><%= t("section.description") %></th>
   <th><%= t("actions") %></th>
  </tr>
  <% sections.each do |section| %>
        <tr>
          <td><%= link_to section.name, section_path(section) %></td>
          <td><%= strip_tags section.description %></td>
          <td>
            <%= render 'adminpanel/icons/edit', resource: section, resource_name: @model.display_name %>
          </td>
        </tr>
  <% end %>

</table>
