<% provide(:page_title, t("section.edit")) %>
<% breadcrumb_add('Secciones', sections_path) %>
<% breadcrumb_add(@section.name, section_path(@section)) %>
<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header"><i class = "icon-tasks"></i><h5><%= @section.name %></h5></div>
    <div class = "widget-body">
      <div class = "widget-forms clearfix">
        <%= custom_form_for(@section, :url => section_path(@section)) do |f| %>
          <%= render 'shared/error_messages', :object => @section %>

          <% if @section.has_description %>
            <div class="control-group">
              <label class="control-label"><%= t("model.attributes.Adminpanel::Section.description") %></label>
              <div class="controls">
                <%= f.hidden_field :description, :id => "description-field" %>
                  <% if @section.description.nil? %>
                    <%= content_tag(:div, @section.description, :class => "editable", "data-placeholder" => t("Write description here")) %>
                  <% else %>
                    <%= content_tag(:div, @section.description.html_safe, :class => "editable", "data-placeholder" => t("Write description here")) %>
                  <% end %>
              </div>
            </div>
          <% else %>
            <%= f.text_field :description, :label => t("model.attributes.Adminpanel::Section.description") %>
          <% end %>

          <% if @section.has_image %>
              <%= f.fields_for :images do |builder| %>
                <%= render 'image_fields', :f => builder, :model_name => @section.simple_name %>
              <% end -%>

              <%= link_to_add_fields "Agregar Imagen", f, :images, @section.simple_name %>
          <% end %>
      </div>
    </div>
    <div class = "widget-footer">
      <%= f.submit t("action.save"), :disable_with => t("action.submitting"), :id => "save-button" %>
    </div>
      <% end -%>
  </div>
</div>