<% provide(:page_title, "Editar") %>
<% breadcrumb_add('Secciones', sections_path) %>
<% breadcrumb_add(@section.name, section_path(@section)) %>
<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header"><i class = "icon-tasks"></i><h5><%= @section.name %></h5></div>
    <div class = "widget-body">
      <div class = "widget-forms clearfix">
        <%= custom_form_for(@section, :url => section_path(@section)) do |f| %>
          <%= render 'shared/error_messages', :object => @section %>

          <% if @section.has_description %>
            <div class="control-group">
              <label class="control-label"><%= t "Description", :locale => :es %></label>
              <div class="controls">
                <%= f.text_area :description, :id => "some-textarea" %>
              </div>
            </div>
          <% else %>
            <%= f.text_field :description, :label => t("Description") %>
          <% end %>

          <% if @section.has_image %>
              <%= f.fields_for :images do |builder| %>
                <%= render 'image_fields', :f => builder, :model_name => f.object.class.name %>
              <% end -%>

              <%= link_to_add_fields "Agregar Imagen", f, :images %>
          <% end %>
      </div>
    </div>
    <div class = "widget-footer">
      <%= f.submit "Guardar", :disable_with => 'Submiting...' %>
    </div>
      <% end -%>
  </div>
</div>