<% provide(:page_title, t("section.edit")) %>
<% breadcrumb_add('Secciones', sections_path) %>
<% breadcrumb_add(@section.name, section_path(@section)) %>
<div class="row-fluid">
  <div class = "widget widget-padding span12">
    <div class = "widget-header"><i class = "fa fa-tasks"></i><h5><%= @section.name %></h5></div>
    <div class = "widget-body">
      <div class = "widget-forms clearfix">
        <%= adminpanel_form_for @section do |f| %>
          <%= render 'shared/error_messages', :object => @section %>

          <% if @section.has_description %>
            <%= f.wysiwyg_field 'description', 'label' => I18n.t('section.description') %>
          <% else %>
            <%= f.text_field 'description', :label => t("section.description") %>
          <% end %>

          <% if @section.has_image %>
              <%= content_tag :div, :class => 'file-collection-container', :data => {:max => 1} do %>
                <%= f.fields_for :images do |builder| %>
                  <%= render 'shared/image_fields', :f => builder %>
                <% end -%>

                <%= link_to_add_fields "Agregar Imagen", f, :images %>
              <% end %>
          <% end %>
      </div>
    </div>
    <div class = "widget-footer">
      <%= f.submit t("action.save"), data: {:disable_with => t("action.submitting")}, :id => "save-button" %>
    </div>
      <% end -%>
  </div>
</div>
