<% provide(:page_title, @section.name.humanize) %>
<% breadcrumb_add('Secciones', sections_path) %>

<div class="row-fluid">
  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class="fa fa-tasks"></i>
      <h5><%= @section.name.humanize %>&nbsp;
        <%= render 'adminpanel/shared/edit_icon_button', resource: @section, resource_name: @model.display_name %>
      </h5>
    </div>
    <div class="widget-body row-fluid">

      <div class="span2">
        <b>Descripción</b>
      </div>
      <div class="span10">
            <% if @section.description.nil? %>
            	<%= t("other.no description") %>
            <% else %>
          <%= @section.description.html_safe %>
            <% end %>
      </div>
      <div class="span12">
        <% @section.sectionfiles.each do |image|-%>
          <%= image_tag(image.file_url :thumb) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
