<!-- Side menu -->
<div class="sidebar-nav nav-collapse collapse" id="sidebar-navigation">
	<% if signed_in? %>
		<div class="user_side clearfix">
				<h5>
					<%= @current_user.name.humanize %>
				</h5>
				<%= link_to (content_tag(:i, nil, :class => 'icon-cog') + ' Editar'), edit_user_path(@current_user) %>
		</div>
	<% end %>
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<%= link_to content_tag(:i, nil, :class => 'icon-user') + content_tag(:span, ' Usuarios'), users_path, :class => "accordion-toggle b_9FDDF6 #{is_current_section?('users')}"  %>
			</div>
		</div>

		<div class="accordion-group">
			<div class="accordion-heading">
				<%= link_to content_tag(:i, nil, :class => 'icon-picture') + content_tag(:span, " #{t("model.Adminpanel::Gallery")}"), galleries_path, :class => "accordion-toggle b_C3F7A7 #{is_current_section?('galleries')}"  %>
			</div>
		</div>

		<div class="accordion-group">
			<div class="accordion-heading">
				<%= link_to content_tag(:i, nil, :class => 'icon-tasks') + content_tag(:span, ' Secciones'), sections_path, :class => "accordion-toggle b_F6F1A2 #{is_current_section?('sections')}"  %>
			</div>
		</div>

		<% @menu_items.each do |menu| %>
			<div class="accordion-group">
				<div class="accordion-heading">
					<%= 
					link_to content_tag(
						:i,
						nil,
						:class => "Adminpanel::#{menu}".constantize.icon
					) + content_tag(
						:span, 
						" " + ("Adminpanel::#{menu}".constantize.plural_name)
					),
					[route_symbol(menu)],
					:class => "accordion-toggle b_F5C294 #{is_current_section?(menu)}" 
					%>
				</div>
			</div>
		<% end %>
	</div>
</div>
<!-- /Side menu -->